---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Card, Pagination } from 'accessible-astro-components'
import fs from 'fs'
import path from 'path'

export async function getStaticPaths({ paginate }) {
  const filePath = path.join(process.cwd(), 'src/assets/events/events.json')
  const jsonString = fs.readFileSync(filePath, 'utf8')
  const data = JSON.parse(jsonString)

  return paginate(data, { pageSize: 6 })
}

const { page } = Astro.props
---

<DefaultLayout
  title="Events"
  description="ACES Techfest with collobaration with FSU"
>
  <section class="my-12">
    <div class="space-content container">
      <h1>Events</h1>
      <p class="text-2xl">
        Sabai hunauman <a href="https://jsonplaceholder.typicode.com/posts"
          >jai hanuman ki</a
        > raat ke 3 baje.
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <p class="text-sm"><em>Post {page.start + 1} through {page.end + 1} of {page.total} total posts</em></p>
      <ul class="my-3">
        {
          page.data.map((post) => (
            <li>
              <Card
                url={'/events/' + post.title.replaceAll(' ', '-').toLowerCase()}
                title={post.title}
                footer={'deadline:' + post.deadline}
                img = {post.imageUrl}
              >
                {post.description}
              </Card>
            </li>
          ))
        }
      </ul>
      <div class="mt-12 grid place-content-center">
        <Pagination
          firstPage={page.url.prev ? '/events' : null}
          previousPage={page.url.prev ? page.url.prev : null}
          nextPage={page.url.next ? page.url.next : null}
          lastPage={page.url.next ? `/events/${Math.round(page.total / page.size)}` : null}
          currentPage={page.currentPage}
          totalPages={Math.round(page.total / page.size)}
        />
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
